body, img {
  user-select: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*width: 1341px;*/
  /*height: 793px;*/
}

.container .img-part {
  width: 100%;
  height: 100%;
}

.top-bar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 46px;
}

.top-bar .btn {
  float: right;
  width: 158px;
  height: 46px;
  /*background: rgba(0,0,0,.5);*/
  text-align: center;
}

.top-bar .btn span {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  /*background: rgba(0,0,0,.5);*/
  color: transparent;
  margin: 11px 1.8px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.top-bar .btn span:nth-child(2) {
  cursor: default;
}

.top-bar .btn span:hover {
  color: #ccc;
}

.opt {
  position: absolute;
  width: 74px;
  height: 112px;
  top: 50%;
  margin-top: -82px;
  cursor: pointer;
  background: url("../assets/images/btn-arrow.png") no-repeat center;
  background-size: 100% 100%;
}

.opt:hover {
  transform: scale(1.05);
}

.left {
  left: 45px;
  transform: rotateY(180deg);
}

.left2 {
  left: 390px;
}

.left:hover {
  transform: scale(1.05) rotateY(180deg);
}

.right {
  right: 45px;
}

.bottom-bar {
  position: absolute;
  left: 50%;
  bottom: 36px;
  width: 655px;
  height: 68px;
  margin-left: -351px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.bottom-bar-left-2 {
  margin-left: -253px;
  /*background: rgba(0,0,0,.5);*/
}

.bottom-bar .item {
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  border-radius: 50px;
  opacity: 0;
  cursor: pointer;
  /*background: rgba(0,0,0,.5);*/
}

.bottom-bar .item:hover {
  opacity: 1;
}

.login {
  position: absolute;
  right: 195px;
  top: 237px;
  width: 414px;
  height: 255px;
  font-size: 16px;
}

.login input {
  position: absolute;
  width: 145px;
  height: 44px;
  top: 36px;
  left: 190px;
  font-size: inherit;
  text-align: center;
  background: transparent;
  font-family: inherit;
  border: 0;
  outline: 0;
}

.login .age {
  position: absolute;
  width: 130px;
  height: 48px;
  line-height: 48px;
  top: 99px;
  left: 190px;
  padding-right: 60px;
  text-align: center;
  cursor: pointer;
  /*background: rgba(0,0,0,.5);*/
}

.login .age-select {
  position: absolute;
  width: 150px;
  line-height: 33px;
  top: 155px;
  left: 190px;
  text-align: center;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px #dddddd;
  z-index: 1;
}

.login .age-select div {
  cursor: pointer;
}

.login .age-select div:hover {
  background: #BB1E6F;
}

.login .age-select .active {
  background: #BB1E6F;
}

.login .btn-enter {
  position: absolute;
  width: 158px;
  height: 55px;
  top: 175px;
  left: 129px;
  background: url("../assets/images/btn-enter.png") no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
}

.login .btn-enter:hover {
  transform: scale(1.05);
}

.testing {
  position: absolute;
  width: 57%;
  height: 57%;
  top: 18%;
  left: 34.2%;
}

.testing .title {
  position: absolute;
  left: 20px;
  top: -50px;
  font-size: 30px;
  color: #BB1E6F;
}

.testing .item {
  height: 27%;
  background: white;
  margin: 1.5% 1.8% 3.8% 1.8%;
  border-radius: 10px;
}

.testing .item .question {
  font-size: 16px;
  color: #333;
  padding: 25px 10px 25px 25px;
}

.testing .item .answer {
  font-size: 16px;
  color: #eee;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  /*background: rgba(0,0,0,.5);*/
}

.testing .item .answer div {
  width: 180px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  border-radius: 20px;
  background: -webkit-linear-gradient(left, #B0136A, #912C60);
  cursor: pointer;
}

.testing .item .answer .active {
  background: -webkit-linear-gradient(left, #16b007, #157f07);
}

.result {
  position: absolute;
  width: 47.7%;
  height: 30%;
  bottom: 30.9%;
  left: 29.3%;
  /*background: rgba(0, 0, 0, .5);*/
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.result .baby-name {
  position: absolute;
  top: -130px;
  right: -55px;
  color: #19297E;
  font-size: 16px;
}

.result .item {
  /*height: 200px;*/
  width: 10%;
  border: 1px solid #aaa;
  border-bottom: 0;
}

.result .bg-1 {
  background: #D85090;
}

.result .bg-2 {
  background: #F18336;
}

.result .bg-3 {
  background: #D9D100;
}

.result .bg-4 {
  background: #32B372;
}

.result .bg-5 {
  background: #0168B7;
}

.result .label {
  position: absolute;
  left: 0;
  bottom: -48px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333333;
  display: flex;
}

.result .label div {
  flex: 1;
  text-align: center;
}

.lesson-list {
  position: absolute;
  width: 72.8%;
  height: 30%;
  top: 36.7%;
  left: 13.6%;
}
.lesson-list>div {
  width: 100%;
  height: 62px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.lesson-list>div>div {
  height: 62px;
  /*background: rgba(0, 0, 0, .5);*/
  cursor: pointer;
}
.lesson-list>div>div:nth-child(1) {
  width: 29.5%;
}
.lesson-list>div>div:nth-child(2) {
  width: 29.8%;
}
.lesson-list>div>div:nth-child(3) {
  width: 36.9%;
}